In [1]:
import pandas as pd
import numpy as np

In [10]:
Q = pd.read_csv("roea3153-72-11.csv")
Q["Fecha"] = pd.to_datetime(Q.Fecha)
Q = Q.drop(Q.columns[[0]], axis=1)
Q.head(10)

       Fecha  Altura(m)  Caudal(m3/s)
0 1972-10-01       0.65          0.95
1 1972-10-02       0.82          3.06
2 1972-10-03       1.00          6.60
3 1972-10-04       0.84          3.42
4 1972-10-05       1.10         10.25
5 1972-10-06       1.14         11.75
6 1972-10-07       1.04          8.06
7 1972-10-08       1.22         14.70
8 1972-10-09       1.12         11.00
9 1972-10-10       0.87          3.96

In [11]:
Q.rename(columns={"Altura(m)":"Altura","Caudal(m3/s)":"Caudal"}, inplace=True)
Q.head()

       Fecha  Altura  Caudal
0 1972-10-01    0.65    0.95
1 1972-10-02    0.82    3.06
2 1972-10-03    1.00    6.60
3 1972-10-04    0.84    3.42
4 1972-10-05    1.10   10.25

In [12]:
Q.describe()

             Altura        Caudal
count  14610.000000  14610.000000
mean       0.338131      4.243072
std        0.414324     13.717907
min        0.000000   -100.000000
25%        0.070000      0.350000
50%        0.200000      0.784000
75%        0.470000      1.967000
max        4.600000    328.000000

In [15]:
Q.replace({-100.000:None})
Q.describe()

             Altura        Caudal
count  14610.000000  14610.000000
mean       0.338131      4.243072
std        0.414324     13.717907
min        0.000000   -100.000000
25%        0.070000      0.350000
50%        0.200000      0.784000
75%        0.470000      1.967000
max        4.600000    328.000000

In [17]:
Q["Año"] = Q["Fecha"].dt.year
Q.head()

       Fecha  Altura  Caudal   Año
0 1972-10-01    0.65    0.95  1972
1 1972-10-02    0.82    3.06  1972
2 1972-10-03    1.00    6.60  1972
3 1972-10-04    0.84    3.42  1972
4 1972-10-05    1.10   10.25  1972

In [19]:
Q["Mes"] = Q["Fecha"].dt.month
Q.head()

       Fecha  Altura  Caudal   Año  Mes
0 1972-10-01    0.65    0.95  1972   10
1 1972-10-02    0.82    3.06  1972   10
2 1972-10-03    1.00    6.60  1972   10
3 1972-10-04    0.84    3.42  1972   10
4 1972-10-05    1.10   10.25  1972   10

In [24]:
Q.groupby('Año')["Caudal"].transform('max')

0        158.600
1        158.600
2        158.600
3        158.600
4        158.600
          ...
14605      4.122
14606      4.122
14607      4.122
14608      4.122
14609      4.122
Name: Caudal, Length: 14610, dtype: float64

In [25]:
Q.groupby('Año')["Caudal"].transform('min')

0        0.950
1        0.950
2        0.950
3        0.950
4        0.950
         ...
14605    0.049
14606    0.049
14607    0.049
14608    0.049
14609    0.049
Name: Caudal, Length: 14610, dtype: float64

In [26]:
Q.groupby('Año')["Caudal"].transform('mean')

0        28.684674
1        28.684674
2        28.684674
3        28.684674
4        28.684674
           ...
14605     1.200737
14606     1.200737
14607     1.200737
14608     1.200737
14609     1.200737
Name: Caudal, Length: 14610, dtype: float64

In [29]:
Q.groupby("Año").describe()

     Altura                                                        Caudal  \
      count      mean       std   min     25%    50%     75%   max  count
Año
1972   92.0  1.418370  0.601225  0.65  1.0000  1.145  1.9300  3.12   92.0
1973  365.0  0.724849  0.237927  0.52  0.5900  0.640  0.7400  2.34  365.0
1974  365.0  0.735562  0.265656  0.56  0.5800  0.630  0.7200  2.18  365.0
1975  365.0  0.673753  0.126697  0.55  0.6000  0.630  0.6900  1.56  365.0
1976  366.0  0.682541  0.166539  0.56  0.6000  0.630  0.6875  1.92  366.0
1977  365.0  0.763096  0.358831  0.45  0.5400  0.600  0.8500  2.47  365.0
1978  365.0  0.684712  0.646114  0.18  0.2200  0.460  0.9800  4.16  365.0
1979  365.0  0.650795  0.581055  0.21  0.2500  0.400  0.7900  3.20  365.0
1980  366.0  0.368087  0.284281  0.06  0.1900  0.280  0.4800  1.86  366.0
1981  365.0  0.075699  0.081287  0.02  0.0500  0.070  0.0800  1.04  365.0
1982  365.0  0.107890  0.069734  0.04  0.0500  0.110  0.1400  0.74  365.0
1983  365.0  0.081370  0.068177  0.03  0.0400  0.070  0.1000  0.61  365.0
1984  366.0  0.218388  0.274804  0.04  0.0500  0.110  0.2300  1.48  366.0
1985  365.0  0.205918  0.247674  0.03  0.0500  0.060  0.3000  1.31  365.0
1986  365.0  0.118301  0.125896  0.04  0.0400  0.090  0.1200  0.80  365.0
1987  365.0  0.150110  0.190199  0.03  0.0400  0.080  0.1600  1.33  365.0
1988  366.0  0.363661  0.422088  0.04  0.0800  0.170  0.4600  2.30  366.0
1989  365.0  0.342658  0.749063  0.03  0.0500  0.080  0.2000  4.60  365.0
1990  365.0  0.219808  0.302301  0.04  0.0600  0.100  0.2100  2.03  365.0
1991  365.0  0.249699  0.388799  0.04  0.0400  0.100  0.2000  2.43  365.0
1992  366.0  0.072158  0.074906  0.00  0.0100  0.060  0.0800  0.41  366.0
1993  365.0  0.088438  0.156840  0.00  0.0000  0.050  0.0800  1.08  365.0
1994  365.0  0.134274  0.171369  0.02  0.0400  0.070  0.1400  1.16  365.0
1995  365.0  0.112082  0.172593  0.01  0.0300  0.040  0.1600  1.56  365.0
1996  366.0  0.599508  0.640414  0.12  0.1800  0.350  0.7600  3.90  366.0
1997  365.0  0.551205  0.677764  0.12  0.1500  0.250  0.6300  3.52  365.0
1998  365.0  0.373041  0.417748  0.03  0.1400  0.230  0.3500  1.97  365.0
1999  365.0  0.129260  0.141615  0.01  0.0200  0.080  0.2000  1.07  365.0
2000  366.0  0.223306  0.333191  0.01  0.0200  0.110  0.2900  2.54  366.0
2001  365.0  0.486356  0.718571  0.04  0.0600  0.140  0.5600  2.95  365.0
2002  365.0  0.134110  0.178021  0.01  0.0500  0.070  0.1000  0.98  365.0
2003  365.0  0.566795  0.458331  0.20  0.2400  0.410  0.7100  2.76  365.0
2004  366.0  0.382596  0.272286  0.17  0.2325  0.300  0.4175  2.20  366.0
2005  365.0  0.168247  0.097933  0.01  0.0800  0.190  0.2500  0.67  365.0
2006  365.0  0.237890  0.262261  0.00  0.0600  0.230  0.3000  1.58  365.0
2007  365.0  0.264521  0.071711  0.20  0.2300  0.250  0.2700  0.65  365.0
2008  366.0  0.291557  0.142919  0.12  0.2300  0.250  0.2900  1.26  366.0
2009  365.0  0.251178  0.162702  0.08  0.1800  0.210  0.2700  1.36  365.0
2010  365.0  0.268027  0.173455  0.08  0.1600  0.220  0.3100  1.10  365.0
2011  365.0  0.305863  0.217733  0.07  0.1700  0.220  0.3700  1.43  365.0
2012  274.0  0.147737  0.054201  0.02  0.1000  0.150  0.1900  0.32  274.0

                 ...                      Mes                             \
           mean  ...      75%      max  count       mean       std   min
Año              ...
1972  28.684674  ...  48.3000  158.600   92.0  11.000000  0.825420  10.0
1973   3.035616  ...   1.9200   76.350  365.0   6.526027  3.452584   1.0
1974   3.507397  ...   1.6600   64.200  365.0   6.526027  3.452584   1.0
1975   1.523781  ...   1.3100   28.700  365.0   6.526027  3.452584   1.0
1976   1.922432  ...   1.2875   47.900  366.0   6.513661  3.455958   1.0
1977   5.334000  ...   3.6000   87.480  365.0   6.526027  3.452584   1.0
1978  10.471014  ...   6.4200  328.000  365.0   6.526027  3.452584   1.0
1979   9.807288  ...   2.9000  212.000  365.0   6.526027  3.452584   1.0
1980   1.497224  ...   1.2000   51.600  366.0   6.513661  3.455958   1.0
1981   0.496855  ...   0.3840   26.370  365.0   6.526027  3.452584   1.0
1982   0.900323  ...   1.1500   15.400  365.0   6.526027  3.452584   1.0
1983   0.569375  ...   0.6500   10.850  365.0   6.526027  3.452584   1.0
1984   1.131210  ...   1.5300   32.520  366.0   6.513661  3.455958   1.0
1985   1.877016  ...   2.8000   27.200  365.0   6.526027  3.452584   1.0
1986   1.018677  ...   0.6710   12.598  365.0   6.526027  3.452584   1.0
1987   1.641940  ...   1.4160   30.869  365.0   6.526027  3.452584   1.0
1988   6.147402  ...   5.5210   91.448  366.0   6.513661  3.455958   1.0
1989   8.117060  ...   1.9000  143.333  365.0   6.526027  3.452584   1.0
1990   3.703458  ...   2.0700   57.950  365.0   6.526027  3.452584   1.0
1991   4.837981  ...   1.9000   70.888  365.0   6.526027  3.452584   1.0
1992   0.595402  ...   0.6300    6.040  366.0   6.513661  3.455958   1.0
1993   1.258162  ...   0.8610   19.855  365.0   6.526027  3.452584   1.0
1994   1.440293  ...   1.0430   22.682  365.0   6.526027  3.452584   1.0
1995   0.973362  ...   0.9160   39.641  365.0   6.526027  3.452584   1.0
1996  11.165995  ...   8.6510  213.415  366.0   6.513661  3.455958   1.0
1997  10.892433  ...   5.6480  174.230  365.0   6.526027  3.452584   1.0
1998   4.528677  ...   1.5230   55.437  365.0   6.526027  3.452584   1.0
1999   0.643252  ...   0.7430   19.524  365.0   6.526027  3.452584   1.0
2000   2.317607  ...   1.1130   91.449  366.0   6.513661  3.455958   1.0
2001  11.604548  ...   6.0970  122.875  365.0   6.526027  3.452584   1.0
2002   4.574307  ...   2.8120   55.116  365.0   6.526027  3.452584   1.0
2003  22.272882  ...  32.6200  155.226  365.0   6.526027  3.452584   1.0
2004   4.651464  ...   5.1380   50.109  366.0   6.513661  3.455958   1.0
2005   0.993096  ...   1.7340   10.534  365.0   6.526027  3.452584   1.0
2006   2.725901  ...   2.7350   32.652  365.0   6.526027  3.452584   1.0
2007   1.980518  ...   2.1340   10.093  365.0   6.526027  3.452584   1.0
2008   2.387973  ...   2.1680   24.262  366.0   6.513661  3.455958   1.0
2009   1.998463  ...   1.8160   26.026  365.0   6.526027  3.452584   1.0
2010   3.151219  ...   3.5500   24.511  365.0   6.526027  3.452584   1.0
2011   3.924868  ...   5.0910   24.056  365.0   6.526027  3.452584   1.0
2012   1.200737  ...   1.7140    4.122  274.0   5.007299  2.584814   1.0


       25%   50%    75%   max
Año
1972  10.0  11.0  12.00  12.0
1973   4.0   7.0  10.00  12.0
1974   4.0   7.0  10.00  12.0
1975   4.0   7.0  10.00  12.0
1976   4.0   7.0   9.75  12.0
1977   4.0   7.0  10.00  12.0
1978   4.0   7.0  10.00  12.0
1979   4.0   7.0  10.00  12.0
1980   4.0   7.0   9.75  12.0
1981   4.0   7.0  10.00  12.0
1982   4.0   7.0  10.00  12.0
1983   4.0   7.0  10.00  12.0
1984   4.0   7.0   9.75  12.0
1985   4.0   7.0  10.00  12.0
1986   4.0   7.0  10.00  12.0
1987   4.0   7.0  10.00  12.0
1988   4.0   7.0   9.75  12.0
1989   4.0   7.0  10.00  12.0
1990   4.0   7.0  10.00  12.0
1991   4.0   7.0  10.00  12.0
1992   4.0   7.0   9.75  12.0
1993   4.0   7.0  10.00  12.0
1994   4.0   7.0  10.00  12.0
1995   4.0   7.0  10.00  12.0
1996   4.0   7.0   9.75  12.0
1997   4.0   7.0  10.00  12.0
1998   4.0   7.0  10.00  12.0
1999   4.0   7.0  10.00  12.0
2000   4.0   7.0   9.75  12.0
2001   4.0   7.0  10.00  12.0
2002   4.0   7.0  10.00  12.0
2003   4.0   7.0  10.00  12.0
2004   4.0   7.0   9.75  12.0
2005   4.0   7.0  10.00  12.0
2006   4.0   7.0  10.00  12.0
2007   4.0   7.0  10.00  12.0
2008   4.0   7.0   9.75  12.0
2009   4.0   7.0  10.00  12.0
2010   4.0   7.0  10.00  12.0
2011   4.0   7.0  10.00  12.0
2012   3.0   5.0   7.00   9.0

[41 rows x 24 columns]

In [30]:
Q_Y = Q.groupby("Año").describe()

In [31]:
Q_Y.head()

     Altura                                                      Caudal  \
      count      mean       std   min   25%    50%     75%   max  count
Año
1972   92.0  1.418370  0.601225  0.65  1.00  1.145  1.9300  3.12   92.0
1973  365.0  0.724849  0.237927  0.52  0.59  0.640  0.7400  2.34  365.0
1974  365.0  0.735562  0.265656  0.56  0.58  0.630  0.7200  2.18  365.0
1975  365.0  0.673753  0.126697  0.55  0.60  0.630  0.6900  1.56  365.0
1976  366.0  0.682541  0.166539  0.56  0.60  0.630  0.6875  1.92  366.0

                 ...                     Mes                                   \
           mean  ...      75%     max  count       mean       std   min   25%
Año              ...
1972  28.684674  ...  48.3000  158.60   92.0  11.000000  0.825420  10.0  10.0
1973   3.035616  ...   1.9200   76.35  365.0   6.526027  3.452584   1.0   4.0
1974   3.507397  ...   1.6600   64.20  365.0   6.526027  3.452584   1.0   4.0
1975   1.523781  ...   1.3100   28.70  365.0   6.526027  3.452584   1.0   4.0
1976   1.922432  ...   1.2875   47.90  366.0   6.513661  3.455958   1.0   4.0


       50%    75%   max
Año
1972  11.0  12.00  12.0
1973   7.0  10.00  12.0
1974   7.0  10.00  12.0
1975   7.0  10.00  12.0
1976   7.0   9.75  12.0

[5 rows x 24 columns]

In [36]:
Q_Y.iloc[:0]

Empty DataFrame
Columns: [(Altura, count), (Altura, mean), (Altura, std), (Altura, min), (Altura, 25%), (Altura, 50%), (Altura, 75%), (Altura, max), (Caudal, count), (Caudal, mean), (Caudal, std), (Caudal, min), (Caudal, 25%), (Caudal, 50%), (Caudal, 75%), (Caudal, max), (Mes, count), (Mes, mean), (Mes, std), (Mes, min), (Mes, 25%), (Mes, 50%), (Mes, 75%), (Mes, max)]
Index: []

[0 rows x 24 columns]

In [37]:
Q_y = Q.groupby("Año")
Q_y.head()

           Fecha  Altura  Caudal   Año  Mes
0     1972-10-01    0.65   0.950  1972   10
1     1972-10-02    0.82   3.060  1972   10
2     1972-10-03    1.00   6.600  1972   10
3     1972-10-04    0.84   3.420  1972   10
4     1972-10-05    1.10  10.250  1972   10
...          ...     ...     ...   ...  ...
14336 2012-01-01    0.14   1.024  2012    1
14337 2012-01-02    0.19   1.714  2012    1
14338 2012-01-03    0.21   2.026  2012    1
14339 2012-01-04    0.22   2.195  2012    1
14340 2012-01-05    0.21   2.026  2012    1

[205 rows x 5 columns]